body {
    background-image: url("background.avif");
    background-size: cover;
}
button{
    background-image: url("background.avif");
    background-size: cover;
    width: 300px;
    height: 50px;
    text-align: center;
}
h1{
    font-family: jula;
    font-size: 150px;
}
p{
    font-size: 75px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 40px 40px 40px 40px;
}
