
.header {
    text-align: center;
}
a {
    font-size: 80px;
    text-align: center;
}
body {
    background-image: url("background.avif");
    background-size: cover;
}
h1 {
    font-size: 50px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 40px 40px 40px 40px;
}
button {
    width: 37px;
    height: 37px;
    vertical-align: middle;
    visibility: hidden;
}
label {
    font-size: 51px;
    text-align: center;
}
